{
    email {$CADDY_TLS_EMAIL}
    http_port {$CADDY_INTERNAL_HTTP_PORT}
    https_port {$CADDY_INTERNAL_HTTPS_PORT}
}

{$COGNITIVE_DOMAIN} {
    encode zstd gzip

    tls {$CADDY_TLS_EMAIL}

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "no-referrer"
    }

    handle /internal/* {
        respond 404
    }

    handle {
        reverse_proxy core:8000 {
            header_up -Forwarded
            header_up X-Forwarded-For {http.request.remote.host}
            header_up X-Forwarded-Host {host}
            header_up X-Forwarded-Proto {scheme}
            header_up X-Real-IP {http.request.remote.host}
        }
    }
}
